/* Background for non-homepages */
body {
 background-color: rgb(12, 56, 106);
 font-family: 'Titillium Web', sans-serif;
}

/* Background for homepage */
.index-body {
 background: url('/img/background.jpeg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 font-family: 'Titillium Web', sans-serif;
}

#logo-wrapper {
    margin-bottom: 3%;
}

#info-wrapper {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

#about-us-wrapper {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

/* NavBar styling*/

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

header {
    height:80px;
    background: rgba(0, 0, 0, 0.5);
    margin:0px auto;
}

h1 {
 color: yellow;
}

h3 {
    color: white;
}

p {
    color: white;
}

.header-button-group {
    width: 40%;
}

.btn-outline-success {
    float: right;
    margin-left: 2%;
}

.btn-behance {
    float: right;
    margin-left: 2%;
}

.error {
    color: red;
}


