<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error Handler</title>
    <!-- Instead of using fragments, it's best practice on the error page to have as few dependencies as possible. That way, if the error is in your head fragment, you still show an error page without getting into an infinite error loop. -->
    <div th:replace="~{common :: head}"></div>
</head>

<header>
    <div th:replace="~{common :: nav-bar(${user})}"></div>
</header>

<body>
<h1>Dude! What happened?!</h1>
<table>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error Type</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Error Message</td>
        <td th:text="${message}"/>
    </tr>
</table>

</body>

</html>