<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title>XISBI Homepage</title>
</head>
<header>
    <div th:replace="~{common :: nav-bar(${user})}"></div>
</header>
<body>
<!--LOGO SECTION-->
<div class="container">
    <div class="jumbotron">
        <div class="jumbotron text-center">
            <img src="/img/xisbi_full_logo.png">
            <p>Resize this responsive page to see the effect!</p>
            <button type="submit" class="btn btn-success"><a href="/login">Login</a></button>
            <button type="submit" class="btn btn-success"><a href="/signup">Sign Up</a></button>
        </div>
    </div>
</div>
    <!--XISBI INFO SECTION-->
    <div class="container">
        <div class="text-center">
            <h1>Plan a party in three steps</h1>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <i class="fas fa-user-check"></i>
                <h3>Join Xisbi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-calendar-check"></i>
                <h3>Host A Party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-users"></i>
                <h3>Add A Guest List</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>

    <!--ABOUT US SECTION-->
    <div class="container">
        <div class="text-center">
            <h1>Who We Are</h1>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="https://via.placeholder.com/250x300.png?text=IMAGE">
                <h3>ZAHRA</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-3">
                <img src="https://via.placeholder.com/250x300.png?text=IMAGE">
                <h3>DAVE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-3">
                <img src="https://via.placeholder.com/250x300.png?text=IMAGE">
                <h3>KEVIN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-3">
                <img src="https://via.placeholder.com/250x300.png?text=IMAGE">
                <h3>JESSICA</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>