<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title>XISBI Login</title>
</head>
<header>
    <div th:replace="~{common :: nav-bar(${user})}"></div>
</header>
<body>
<div class="container">
    <h1 class="text-center">Please Login</h1>
    <div th:if="${loginError == true}" class="alert alert-danger login-group" role="alert">
        <span>Wrong username or password.</span>
    </div>

    <form action="/perform_login" method="POST">
        <div class="form-group login-group">
            <label>Input Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="nameHelp"
                   placeholder="-- username --" name="username">
            <small id="nameHelp" class="form-text text-muted">Use your Xisbi username</small>
        </div>

        <div class="form-group login-group">
            <label>Input Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="pwHelp"
                   placeholder="-- password --" name="password">
            <small id="pwHelp" class="form-text text-muted">Use your Xisbi password</small>
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>
</div>

</body>

<footer>
</footer>

</html>