<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title>My Dashboard</title>
</head>
<header>
    <div th:replace="~{common :: nav-bar(${user})}"></div>
</header>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <h1>Welcome to Your Dashboard</h1>
        <div class="col-6 col-md-4">
            <img src="/img/xisbi_logo_vector.svg" alt="user image" class="img-thumbnail"/>

            <div class="row">
                <div class="col-8 col-sm-6">
                    <h3 th:text="${user.username}">username</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12 ">
                    <label>Name: </label>
                    <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label>Birthday: </label>
                    <span th:text="${user.dateOfBirth}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label>Your Party Interests: </label>
                    <span th:text="${user.partyInterests}"></span>
                </div>
            </div>

            <div class="row ">
                <div class="col-12 justify-content-md-center">
                    <form action="/party/create" method="GET">
                        <button type="submit" class="btn btn-outline-success left-btn">Host an Event</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 ">
            <div class="row">
                <div class="col-12">
                    <div th:if="${deleteMessage}" class="alert alert-success" role="alert">
                        <span>Event has been deleted.</span>
                    </div>
                    <h3>Events You are Hosting:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div th:if="${user.hosting != null}">
                        <ul class="list-group" th:each="party : ${user.hosting}">
                            <a th:href="${'/party/' + party.id}">
                                <li th:text="${party.partyTitle}" class="list-group-item"></li>
                            </a>
                        </ul>
                    </div>
                    <div th:if="${user.hosting == null || user.hosting.size() == 0}">
                        <ul class="list-group">
                            <li class="list-group-item">You are not hosting any events at this time.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Invited Events:</h3>
                    <div th:if="${user.invited != null}">
                        <ul th:each="party : ${user.invited}" class="list-group">
                            <a th:href="${'/party/' + party.id}">
                                <li th:text="${party.partyTitle}" class="list-group-item"></li>
                            </a>
                        </ul>
                    </div>
                    <div th:if="${user.invited == null || user.invited.size() == 0}">
                        <ul class="list-group">
                            <li class="list-group-item">No events at this time.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Your Confirmed Events:</h3>
                    <div th:if="${user.confirmed != null}">
                        <ul th:each="party : ${user.confirmed}">
                            <a th:href="${'/party/' + party.id}" class="list-group">
                                <li th:text="${party.partyTitle}" class="list-group-item"></li>
                            </a>
                        </ul>
                    </div>
                    <div th:if="${user.confirmed == null || user.confirmed.size() == 0}">
                        <ul class="list-group">
                            <li class="list-group-item">No confirmed events at this time.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<footer>
</footer>

</html>