<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title th:text="${party.partyTitle}"></title>
</head>

<header>
    <div th:replace="~{common :: nav-bar(${user})}"></div>
</header>

<body>
<div class="container">
    <center><h1 th:text="${party.partyTitle}"></h1></center>
    <div class="row justify-content-md-center">
        <div class="col-4 col-sm-6">
            <div class="row justify-content-md-center">

            </div>

            <div class="row justify-content-md-center">
                <div class="col-6 col-sm-6">
                    <div class="row ">
                        <div class="col-auto ">
                            <h3>Hosted by: <span th:text="${party.partyHost.firstName}"></span></h3>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-auto ">
                            <p>Date/Time: <span th:text="${party.partyDate}"></span> at <span th:text="${party.partyTime}"></span></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-auto ">
                            <p>Location: <span th:text="${party.partyLocation}"></span></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-auto ">
                            <p>Description: <span th:text="${party.partyDescription}"></span></p>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div th:if="${host}" class="col-auto">
                            <form th:action="${'/party/' + party.id + '/update'}" th:method="GET">
                                <button type="submit" class="btn btn-outline-success">Update</button>
                            </form>
                        </div>
                        <div th:if="${host}" class="col-auto ">
                            <form th:action="${'/party/' + party.id}" th:method="DELETE">
                                <button type="submit" class="btn btn-outline-success">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6">
            <h3>Guest List:</h3>

            <div class="row ">
                <div class="col-10">

                    <div th:if="${host}">
                        <div  th:if = "${userNotFound}" class="alert alert-warning" role="alert">
                            <span>User not found</span>
                        </div>
                        <form th:action="${'/party/' + party.id + '/add-guest'}" th:method="POST">
                            <div class="form-group">

                                <label>Invite Guests to your Event</label>
                                <input type="text" class="form-control" id="guestUsername" aria-describedby="guestHelp"
                                       name="guestUsername">
                                <small id="guestHelp" class="form-text text-muted">Please use a guest's username when adding them to your
                                    party
                                </small>
                            </div>

                            <button type="submit" class="btn btn-outline-success">Add Guest</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-10">
                    <div th:if="party.guestConfirmed != null">
                        <ul th:each="guest : ${party.guestConfirmed}" class="list-group">
                            <li class="list-group-item">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col-md-auto">
                                            <button th:text="${guest.username}" type="submit" class="btn "></button>
                                        </div>
                                        <div class="col-md-auto">
                                            <button type="submit" class="btn" th:value="${guest.username}"> CONFIRMED </button>
                                        </div>
                                        <div  class="col-md-auto ">
                                            <form  th:action="${'/party/' + party.id + '/delete-guest'}" th:method="PUT">
                                                <button th:if="${host || guest.username == user.username}" type="submit"
                                                        class="btn btn-outline-success" name="guestUsername" th:value="${guest.username}"> DELETE </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-10" th:if="party.guestInvited != null">
                    <ul th:each="guest : ${party.guestInvited}" class="list-group">
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-md-auto">
                                        <button th:text="${guest.username}" type="submit" class="btn "></button>
                                    </div>
                                    <div class="col-md-auto">
                                        <form  th:action="${'/party/' + party.id + '/delete-guest'}" th:method="PUT">
                                            <button th:if="${guest.username == user.username}" type="submit" class="btn btn-outline-success"
                                                    name="guestUsername" th:value="${guest.username}"> Can't Go
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-auto">
                                        <form th:action="${'/party/' + party.id + '/confirm'}" th:method="PUT">
                                            <button th:if="${guest.username == user.username}" type="submit" class="btn btn-outline-success"
                                                    name="guestUsername" th:value="${guest.username}"> Going
                                            </button>
                                        </form>
                                    </div>
                                    <div  class="col-md-auto">
                                        <form  th:action="${'/party/' + party.id + '/delete-guest'}" th:method="PUT">
                                            <button th:if="${host}" type="submit" class="btn btn-outline-success"
                                                    name="guestUsername" th:value="${guest.username}"> DELETE </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>