<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title th:text="${party.partyTitle}"></title>
</head>
<header>
    <div th:replace="~{common :: nav-bar}"></div>
</header>
<body>
    <div class="container">
        <h2 th:text="${party.partyTitle}"></h2>
        <h3>Hosted by<span th:text="${party.partyHost.firstName}"></span></h3>
        <p>Date/Time: <span th:text="${party.partyDate}"></span> at <span th:text="${party.partyTime}"></span></p>
        <p>Location: <span th:text="${party.partyLocation}"></span></p>
        <p>Description: <span th:text="${party.partyDescription}"></span></p>
        <p>Guest List:
            <div th:if="party.guestList != null">
                <p th:each="guest : ${party.guestList}">
                    <span th:text="${guest.username}"> </span>
                </p>
            </div>
        </p>
    </div>
</body>
</html>