<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title>Party Page</title>
</head>
<header>
    <div th:replace="~{common :: nav-bar}"></div>
</header>
<body>

<div th:if="${!update}">
    <h1>Please Create Your Party</h1>

    <!-- FORM SECTION FOR INITIAL PARTY CREATION -->
    <form action="/party/create" method="POST">
        <div class="form-group">
            <label>Create a Party Title</label>
            <input type="text" class="form-control" id="partyTitle" aria-describedby="titleHelp"
                   placeholder="-- title --" name="partyTitle">
        </div>

        <div class="form-group">
            <label>Select a Date for your Party</label>
            <input type="date" class="form-control" id="partyDate" aria-describedby="dateHelp"
                   name="partyDate">
        </div>

        <div class="form-group">
            <label>Provide a Time for your Party</label>
            <input type="time" class="form-control" id="partyTime" aria-describedby="timeHelp"
                   name="partyTime">
            <small id="timeHelp" class="form-text text-muted">Times are added in a HH:MM AM or PM format</small>
        </div>

        <div class="form-group">
            <label>Provide a Location for your Party</label>
            <input type="text" class="form-control" id="partyLocation" aria-describedby="locationHelp"
                   name="partyLocation">
        </div>

        <div class="form-group">
            <label>Provide a Description for your Party</label>
            <input type="text" class="form-control" id="partyDescription" aria-describedby="locationHelp"
                   name="partyDescription">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<!-- FORM SECTION FOR PARTY UPDATES AND GUEST LIST ADDITION -->
<!--TODO: add guest List view here-->

<div th:if="${update}">
    <!-- UPDATE THE PARTY DETAILS IN THE DB -->
    <form th:action="${'/party/' + party.id + '/update'}" th:method="PUT">
        <div class="form-group">
            <label>Update Event Title</label>
            <input type="text" class="form-control" id="partyTitle" aria-describedby="titleHelp" th:value="${party.partyTitle}" name="partyTitle">
        </div>

        <div class="form-group">
            <label>Update Event Date</label>
            <input type="date" class="form-control" id="partyDate" aria-describedby="dateHelp" name="partyDate" th:value="${party.partyDate}">
        </div>

        <div class="form-group">
            <label>Update Event Time</label>
            <input type="time" class="form-control" id="partyTime" aria-describedby="timeHelp"
                   name="partyTime" th:value="${party.partyTime}" >
            <small id="timeHelp" class="form-text text-muted">Times are added in a HH:MM AM or PM format</small>
        </div>

        <div class="form-group">
            <label>Update Event Location</label>
            <input type="text" class="form-control" id="partyLocation" aria-describedby="locationHelp"
                   name="partyLocation" th:value="${party.partyLocation}">
        </div>

        <div class="form-group">
            <label>Update Event Description</label>
            <input type="text" class="form-control" id="partyDescription" aria-describedby="locationHelp"
                   name="partyDescription" th:value="${party.partyDescription}">
        </div>

        <button type="submit" class="btn btn-success">Update Party Details</button>
    </form>


    <form th:action="${'/party/' + party.id + '/add-guest'}" th:method="POST">
        <div class="form-group">
            <div th:if="party.guestList != null">
                <p th:each="guest : ${party.guestList}">Invited Guests:
                    <span th:text="${guest.username}"> </span>
                </p>
            </div>
            <label>Invite Guests to your Event</label>
            <input type="text" class="form-control" id="guestUsername" aria-describedby="guestHelp"
                   name="guestUsername">
            <small id="guestHelp" class="form-text text-muted">Please use a guest's username when adding them to your party
            </small>
        </div>

        <button type="submit" class="btn btn-success">Add Guest</button>
    </form>

    <br>
    <form th:action="${'/party/' + party.id}" th:method="GET" >
        <button type="submit" class="btn btn-success">Complete ></button>
    </form>
</div>

</body>
</html>