<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common :: head}"></div>
    <title>XISBI Sign Up</title>
</head>
<header>
    <div th:replace="~{common :: nav-bar}"></div>
</header>
<body>

<div class="container">
    <h1>Please Create a User Account</h1>

    <form action="/signup" method="POST">
        <div class="form-group">
            <label>Create a Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="nameHelp"
                   placeholder="-- username --" name="username">
            <small id="nameHelp" class="form-text text-muted">You will use this username to login to Xisbi</small>
        </div>

        <div class="form-group">
            <label>Create a Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="pwHelp"
                   placeholder="-- password --" name="password">
            <small id="pwHelp" class="form-text text-muted">Please do not use your username as part of your password
            </small>
        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="-- first name --" name="firstName">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="-- last name --" name="lastName">
        </div>

        <div class="form-group">
            <label>Birthday</label>
            <input type="date" class="form-control" id="birthday" name="dateOfBirth">
        </div>

        <div class="form-group">
            <label>Select Your Party Interests (Check all that apply)</label>
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Beer Tasting"
                            >
                            <label class="form-check-label">
                                Beer Tasting
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Birthday"
                            >
                            <label class="form-check-label">
                                Birthday
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Cocktail"
                            >
                            <label class="form-check-label">
                                Cocktail
                            </label>
                        </div>

                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Cosplay"
                            >
                            <label class="form-check-label">
                                Cosplay
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Holiday"
                            >
                            <label class="form-check-label">
                                Holiday
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Ice Cream"
                            >
                            <label class="form-check-label">
                                Ice Cream
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Luau"
                            >
                            <label class="form-check-label">
                                Luau
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Masquerade"
                            >
                            <label class="form-check-label">
                                Masquerade
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Murder Mystery"
                            >
                            <label class="form-check-label">
                                Murder Mystery
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Pie"
                            >
                            <label class="form-check-label">
                                Pie Mystery
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Quinceanera"
                            >
                            <label class="form-check-label">
                                Quinceanera
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="partyInterests" class="form-check-input" type="checkbox" value="Wine Tasting"
                            >
                            <label class="form-check-label">
                                Wine Tasting
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

</body>
</html>